/* general settings */
$col: 100%;
$col2: 100%/2;
$col3: 100%/3;
$col4: 100%/4;
$col5: 100%/5;
$col6: 100%/6;

$section-padding: 100px 0;
$section-title: 3.125rem;

/* colors */
$yellow: #F4BB19;
$white: #ffffff;
$skyblue: #3198CB;
$black: #444444;
$grey: #707070;